*{
    margin: 0;
   }

section{
    padding: 80px;
}
.arranger{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 1000px;
    align-items: center;
    margin: auto;
}
.arranger {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
  }
  
  .arranger h1 {
    margin-bottom: 15px;
  }
  
  .arranger p {
    margin-bottom: 30px;
  }
  
  /* .arranger div {
    padding-right: 80px;
  } */
  @media screen and (max-width: 996px) {
    .arranger {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}  

.contact-infos{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  background-color: rgb(72, 72, 119);
  margin: auto;
  width: 700px;
  height: 300px;
    
} 
.contact-infos .contact{
  max-width: 800px;
  text-align: center;
   
}
.contact-infos .contact h2{
  font-weight: 500;
 
}
.item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative; 
  padding: 20px 0;
  
}